// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
		// opacity: 1;
		// transition: opacity .15s;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		width: 100%;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
section {
  min-height: 100svh;
  overflow: hidden;
  position: relative;
	  padding-block: 50px;
  display: flex;
  align-items: center;
  [class*="__container"]{
    position: relative;
    z-index: 3;
		width: 100%;
  }
}

body {
  background-color: $mainColor;
  color: $white;
  &::-webkit-scrollbar {
    display: none;
  }
}


.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-main {
  position: fixed;
  z-index: 15;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
	pointer-events: none;
	
	// opacity: 0;
  // [data-fls-loaded] & {
  //   opacity: 1;
  //   transition: opacity .15s ease;
  // }
  // .logo-main__wrapper
	&__wrapper {
    width: 100%;
  	margin-inline: auto;
  	padding-inline: 20px;
  	@include adaptiveValue("max-width", 1250, 1240,0,1920,1440);
  }
  // .logo-main__picture
  &__picture {
    position: relative;
    left: 0;
		.test-page & {
			top: 55px;
			max-width: 139px;
			pointer-events: all;
			margin-inline: auto;
			display: block;
		}
		.home-page & {
			top: 60px;
			max-width: 406px;
			@media (max-width: toEm(1024.98)){
				margin-inline: auto;
				max-width: 190px;
			}
		}

    img {
      @extend %ibg;
    }
	}
}



.text-banner {
  font-family: "SofiaSans",sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 2px 2px 0 #231f20;
  position: relative;
  &::before {
		content:'';
    position: absolute;
    inset: -45% -12%;  
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(ellipse 77% 56% at 50% 55%, rgba(255, 255, 0, 0.1) 0%, rgba(255, 255, 0, 0.2) 18%, rgba(255, 255, 0, 0) 80%);
		@media (max-width:toEm($mobileSmall)){
			inset: -30% -48%;  
		}
  }

}

.banner {
  position: relative;
  padding: 35px 0px;
  @media (min-width:toEm($mobileSmall)){
    padding: 35px 27px;
  }
		// .banner__text
		&__text {
      text-align: center;
      position: relative;
      z-index: 1;
      margin-inline: auto;
		}
		// .banner__picture
		&__picture {
			position: absolute;
			pointer-events: none;
			z-index: 0;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%,-50%);
		}
}


.body-sections {
  display: flex;
  flex-direction: column;
  @media (min-width:toEm(820.98)){
    padding-top: 100px;
  }
  @media (min-width:toEm(700.98)){
    align-items: center;
  }
		// .body-sections__banner
		&__banner {
			position: relative;
      z-index: 0;
      max-width: 690px;
			.home-page & {
				opacity: 0;
			}
      @include adaptiveValue("margin-bottom", 70, 30);
      .banner__text {
				.home-page & {
					@include adaptiveValue("font-size", 36, 22);
				}
				.test-page & {
					@include adaptiveValue("font-size", 36, 26);
				}
        max-width: 75%;
        @media (min-width:$mobileSmall){
          max-width: 450px;
        }
        @media (max-width: toEm(700.98)){
          text-align: left;
          margin-inline: unset;
        }
      }
      .banner__picture {
        width: 690px;
        @media (max-width: toEm(700.98)){
          transform: translate(-60%, -50%);
        }
      }
      .banner__img {
      }
		}
    
		// .body-sections__cta
		&__cta {
    }
  }
  
	
.snacks-block {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 125%;
  pointer-events: none;
  @media (min-width:$mobileSmall){
    top: 50%;
    left: 50%;
    width: 120%;
  }
  &._active {
    img {
        transform: scale(1);
    }
  }
  img {
    transition: transform .65s ease;
		transform: scale(0);
  }
  img {

  }
}
