// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// @use "includes/variables.css";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
	min-width: #{$minWidth}px;
	color: $mainColor;
	font-family: $fontFamily;
	font-size: #{$fontSize}px;

	// Скролл заблоковано
	[data-fls-scrolllock] & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	[data-fls-loaded] & {
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: #{$containerWidth}px;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		width: 100%;
		@if ($maxWidthContainer>0) {
			max-width: #{$maxWidthContainer}px;
		} @else {
			@if ($containerPadding>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
		@media (max-width: toEm($pc)) {
			max-width: 970px;
		}
		@media (max-width: toEm($tablet)) {
			max-width: 750px;
		}
		@media (max-width: toEm($mobile)) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding-left: #{math.div($containerPadding, 2)}px;
				padding-right: #{math.div($containerPadding, 2)}px;
			}
		}
	}
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
section {
  min-height: 100svh;
  overflow: hidden;
  position: relative;
	  padding-block: 50px;
  display: flex;
  align-items: center;
  [class*="__container"]{
    position: relative;
    z-index: 3;
		width: 100%;
  }
}

body {
  background-color: $mainColor;
  color: $white;
  &::-webkit-scrollbar {
    display: none;
  }
}


.ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.page {
	// position: relative;
	// z-index: 1;
}
.logo-main {
  position: fixed;
  z-index: 15;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
	pointer-events: none;
  // .logo-main__wrapper
	&__wrapper {
    width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  @include adaptiveValue("max-width", 1250, 1240,0,1920,1440);
  }
  // .logo-main__picture
  &__picture {
    position: relative;
    top: 60px;
    left: 0;
    max-width: 406px;
    pointer-events: all;
    @media (max-width: toEm(1024.98)){
      margin-inline: auto;
      max-width: 190px;
    }

    img {
      @extend %ibg;
    }
	}
}

.shadow {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
	@include adaptiveValue("height",400, 300,0,1920,320);
  pointer-events: none;
  svg {
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    height: auto;
  }
	// .shadow__item
	&::before {
		content:'';
		display: block;
		position: relative;
		left: 50%;
		transform: translate(-50%,0);
		width: 200%;
		height: 100%;
		// border-radius: 100%;
		  background:
      radial-gradient(ellipse 85% 50% at 50% 50%,
        rgba(9,2,3,1) 0 30%,
        rgba(9,2,3,0.3) 65%,
        rgba(9,2,3,0.00) 80%
      );
		@media (min-width:toEm($mobile)){
			 width: 135%; 
		}
	}

  // .shadow--top 
  &--top {
    opacity: 0;
    top: 0;
    transform: translate(0,-50%);
  }
  // .shadow--botom 
  &--bottom {
		
		position: absolute;
		
    transform: translate(0,50%);
    bottom: 0;
  }
	&--topnext {
		position: absolute;
		transform: translate(0,-50%);
		top: 0;
	}
}

.text-banner {
  font-family: "SofiaSans",sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-shadow: 
  2px 2px 0 #231f20;
  position: relative;
  &::before {
		content:'';
    position: absolute;
    inset: -45% -12%;  
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(ellipse 77% 56% at 50% 55%, rgba(255, 255, 0, 0.1) 0%, rgba(255, 255, 0, 0.2) 18%, rgba(255, 255, 0, 0) 80%);
  }

}

.banner {
  position: relative;
  padding: 35px 0px;
  @media (min-width:$mobileSmall){
    padding: 35px 27px;
  }
		// .banner__text
		&__text {
      text-align: center;
      position: relative;
      z-index: 1;
      margin-inline: auto;
		}
		// .banner__picture
		&__picture {
			position: absolute;
			pointer-events: none;
			z-index: 0;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%,-50%);
		}
    // .banner__img
    &__img {
      // opacity: 0.8;
    }
}

