@font-face {font-family: SofiaSans;font-display: swap;src: url("@fonts/SofiaSans-ExtraBold.woff2") format("woff2");font-weight: 800;font-style: normal;}
@font-face {font-family: Manrope;font-display: swap;src: url("@fonts/Manrope-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: Inter;font-display: swap;src: url("@fonts/Inter-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
