<script type="module" src="@components/pages/test/test.js"></script>
<link rel="stylesheet" href="@components/pages/test/test.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<a href="index.html" class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</a>
	</div>
</div>

<main class="page page--test">
	<section class="test">
		<div class="test__bg">
			<img class="ibg" decoding="async" fetchpriority="high" src="@img/main/section-6-b.jpg" width="1440" height="800" alt="Image">
		</div>
		<div class="test__hero hero-test full-section">
			<div class="hero-test__container">
				<div class="hero-test__shacks snacks-block ">
					<picture>
						<source srcset="@img/snacks/smacks-2-pc.png" media="(min-width: 51.311em)" type="image/webp">
						<source srcset="@img/snacks/smacks-test-mb.png" media="(max-width: 51.311em)" type="image/webp">
						<img class="ibg"  data-fls-image-ignore src="@img/snacks/smacks-2-pc.png" width="1440" height="800" alt="золотисті снеки що розлітаються по екрану">
					</picture>
				</div>
				<div class="hero-test__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<h2>Усього 5 питань, і твій Gonzo-персонаж згенерований!</h2>
						</div>
						<div class="banner__picture">
							<picture>
								<source srcset="@img/banners/banner-pc.svg" media="(min-width: 43.811em)" type="image/svg+xml">
								<source srcset="@img/banners/banner-c-mb.svg" media="(max-width: 43.811em)" type="image/svg+xml">
								<img class="banner__img" data-fls-image-ignore src="@img/banners/banner-pc.svg" width="1440" height="800" alt="палаючий золотистий баннер на фоні якого розміщений текст">
							</picture>
						</div>
					</div>
					<button data-fls-btn class="body-sections__btn btn btn--a" aria-label="почати тест">
						<span>Починаємо</span>
					</button>
				</div>
			</div>
		</div>
		<div class="test__form form-test full-section _dwn">
			<div class="form-test__container">
				<div class="form-test__body">

					<div class="form-test__form">

						<div class="form-test__bg"><span></span></div>

						<div class="form-test__item item-test item-test--1 _active">
							<div class="item-test__picture">
								<img class="ibg" loading="lazy" src="@img/packs/pack-1.png" width="411" height="254" alt="пачки Гонзо">
							</div>
							<div class="item-test__center">
								<div class="item-test__left">
									<div class="item-test__img">
										<img class="ibg" loading="lazy" src="@img/options/option-1.jpg" width="150" height="150" alt="Image">
									</div>
									<p class="item-test__name">Крінж-Аріель</p>
								</div>
								<div class="item-test__step">
									<div class="item-test__step-wr">
										<span class="num">1</span>
										<p>Заціни казкову смачність кукурудзяних трикутників Gonzo</p>
									</div>
								</div>
								<div class="item-test__right">
									<div class="item-test__img">
										<img class="ibg" loading="lazy" src="@img/options/option-2.jpg" width="150" height="150" alt="Image">
									</div>
									<p class="item-test__name">Краш-Аріель</p>
								</div>
							</div>
							<div class="item-test__range">
								<div data-fls-range class="range"></div>
							</div>
						</div>

					</div>

					<div class="form-test__nav">
						<button type="button" class="form-test__btn btn-prev _disabled" aria-label="prev"></button>
						<div class="form-test__steps">
							<span>1</span> з 5
						</div>
						<button type="button" class="form-test__btn btn-next" aria-label="next"></button>
					</div>
					<div class="form-test__footer">
						<p>Усього 5 питань, і твій Gonzo-персонаж згенерований!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>