<script type="module" src="@components/pages/test/test.js"></script>
<link rel="stylesheet" href="@components/pages/test/test.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<a href="index.html" class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</a>
	</div>
</div>

<main class="page page--test">
	<section class="test">
		<div class="test__bg">
			<img class="ibg" decoding="async" fetchpriority="high" src="@img/main/section-6-b.jpg" width="1440" height="800" alt="Image">
		</div>
		<div class="test__hero hero-test _hide">
			<div class="hero-test__container">
				<div class="hero-test__shacks snacks-block ">
					<picture>
						<source srcset="@img/snacks/smacks-2-pc.png" media="(min-width: 51.311em)" type="image/webp">
						<source srcset="@img/snacks/smacks-test-mb.png" media="(max-width: 51.311em)" type="image/webp">
						<img class="ibg" loading="lazy" data-fls-image-ignore src="@img/snacks/smacks-2-pc.png" width="1440" height="800" alt="золотисті снеки що розлітаються по екрану">
					</picture>
				</div>
				<div class="hero-test__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<h2>Усього 5 питань, і твій Gonzo-персонаж згенерований!</h2>
						</div>
						<div class="banner__picture">
							<picture>
								<source srcset="@img/banners/banner-pc.svg" media="(min-width: 43.811em)" type="image/svg+xml">
								<source srcset="@img/banners/banner-c-mb.svg" media="(max-width: 43.811em)" type="image/svg+xml">
								<img class="banner__img" loading="lazy" data-fls-image-ignore src="@img/banners/banner-pc.svg" width="1440" height="800" alt="палаючий золотистий баннер на фоні якого розміщений текст">
							</picture>
						</div>
					</div>
					<button data-fls-btn class="body-sections__btn btn btn--a" aria-label="почати тест">
						<span>Починаємо</span>
					</button>
				</div>
			</div>
		</div>
		<div class="test__form form-test">
			
		</div>
	</section>
</main>