<script type="module" src="@components/pages/test/test.js"></script>
<link rel="stylesheet" href="@components/pages/test/test.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<div class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</div>
	</div>
</div>
<div class="shadow shadow--top">
	<svg width="2147" height="442" viewBox="0 0 2147 442" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_f_2004_625)">
			<ellipse cx="1073.5" cy="221" rx="973.5" ry="121" fill="#090203" />
		</g>
		<defs>
			<filter id="filter0_f_2004_625" x="0" y="0" width="2147" height="442" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
				<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_2004_625" />
			</filter>
		</defs>
	</svg>
</div>
<div class="shadow shadow--bottom">
	<svg width="2147" height="442" viewBox="0 0 2147 442" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_f_2004_625)">
			<ellipse cx="1073.5" cy="221" rx="973.5" ry="121" fill="#090203" />
		</g>
		<defs>
			<filter id="filter0_f_2004_625" x="0" y="0" width="2147" height="442" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
				<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_2004_625" />
			</filter>
		</defs>
	</svg>
</div>

<main  class="page page--test">

</main>