<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<div class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</div>
	</div>
</div>
<div class="shadow shadow--top"></div>
<!-- <div class="shadow shadow--bottom"></div> -->
<main id="smooth-wrapper" class="page page--home">
	<div id="smooth-content">

		<div class="wolf">
			<div class="wolf__container">
				<div class="wolf__body">
					<div class="wolf__cord"></div>
					<div class="wolf__item wolf__item--over">
						<img src="@img/main/wolf-over.png" width="206" height="488" alt="Image">
					</div>
					<div class="wolf__item wolf__item--under">
						<img src="@img/main/wolf-under.png" width="206" height="488" alt="Image">
					</div>
				</div>
			</div>
		</div>

		<section class="hero">
			<div data-speed="0.2" class="hero__picture hero__picture--1">
				<img class="ibg" src="@img/main/hero-mounts.jpg" width="1440" height="800" alt="головний фон багато зелених холмів та синє небо з поодинокими хмарами">
			</div>
			<div data-speed="0.4" class="hero__picture hero__picture--2">
				<img class="ibg" src="@img/main/hero-castle.png" width="1440" height="800" alt="на фоні холмів по центру на високій горі розташований старовинний замок">
			</div>
			<div data-speed="1.5" class="hero__container">
				<div class="hero__packs packs-hero">
					<div data-speed="clamp(0.8)" class="packs-hero__picture">
						<img class="ibg" src="@img/main/packs-hero.png" width="516" height="313" decoding="async" fetchpriority="high" alt="Три пачки Gonzo">
					</div>
				</div>
				<div class="hero__cta cta-hero">
					<div data-speed="clamp(1.15)" class="cta-hero__txt">
						<p>Проведи експертну оцінку смачності наших снеків та вигравай чарівний бокс із подарунками!</p>
					</div>
					<a href="test.html" data-fls-btn class="cta-hero__btn btn btn--a" aria-label="на сторінку теста">
						<span>Пройти тест</span>
					</a>
				</div>
				<div class="hero__right">
					<div class="hero__banner banner">
						<div class="banner__text text-banner">
							<h1>Від казкової смачності Gonzo шаленіли всі королівства!<br>І навіть твоє!</h1>
						</div>
						<div class="banner__picture"></div>
					</div>
					<div data-speed="clamp(0.5)" class="hero__wolf-wr">
						<div class="hero__wolf">
							<img class="ibg" src="@img/main/wolf.png" width="201" height="449" alt="Image">
						</div>
					</div>
				</div>
			</div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-2">
			<div class="section-2__picture">
				<div data-speed="0.5"></div>
			</div>
			<div class="section-2__container">
				<div class="section-2__shacks snacks-block">
					<!-- <picture>
						<source srcset="@img/snacks/smacks-2-pc.png" media="(min-width: 51.311em)" type="image/webp">
						<source srcset="@img/snacks/smacks-2-mb.png" media="(max-width: 51.311em)" type="image/webp">
						<img class="ibg"  data-fls-image-ignore src="@img/snacks/smacks-2-pc.png" width="1440" height="800" alt="золотисті снеки що розлітаються по екрану">
					</picture> -->
				</div>
				<div class="section-2__pictures">
					<img class="section-2__women" src="@img/people/women.png" width="252" height="333" alt="казкова жінка в червоному плащі">
					<img class="section-2__men" src="@img/people/men.png" width="151" height="355" alt="казковий принц тримає в руці пачку Гонзо">
				</div>
				<div data-speed="1.2" data-fls-watcher data-fls-watcher-threshold="0.3"  class="section-2__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<h2>Казкова смачність Gonzo у стародавніх закляттях хрусткості</h2>
						</div>
						<div class="banner__picture"></div>
					</div>
					<div class="body-sections__cta cta-sections">
						<div  class="cta-sections__txt">
							<p>Оціни казкову хрусткосмачність Gonzo і дізнайся свого<br>
								Gonzo-персонажа</p>
						</div>
						<div class="cta-sections__btn-wr">
							<a href="test.html" data-fls-btn class="cta-sections__btn btn btn--a" aria-label="на сторінку теста">
								<span>Хочу знати</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-3">
			<div class="section-3__picture">
				<div data-speed="0.5"></div>
			</div>
			<div data-speed="0.65" class="section-3__stars stars-section"></div>
			<div class="section-3__container">
				<div class="section-3__women">
					<img class="ibg"   src="@img/people/three-women.png" width="360" height="422" alt="три дівчини, попелюшка, рапунцель та фея стоять разом та смакують чипсами Gonzo">
				</div>
				<div data-speed="1.1" data-fls-watcher data-fls-watcher-threshold="0.3" class="section-3__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<p>Казкова смачність Gonzo
								у алхімічній рецептурі наповнення спеціями!</p>
						</div>
						<div class="banner__picture"></div>
					</div>
					<div class="body-sections__cta cta-sections">
						<div  class="cta-sections__txt">
							<h2>Герою, вирушай на особливе завдання – оцінка казкової смачності снеків Gonzo!</h2>
						</div>
						<div class="cta-sections__btn-wr">
							<a href="test.html" data-fls-btn class="cta-sections__btn btn btn--a" aria-label="на сторінку теста">
								<span>Зацінити снеки</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-4">
			<div class="section-4__picture">
				<div data-speed="0.5"></div>
			</div>
			<div class="section-4__container">
				<div class="section-4__images">
					<img data-speed="clamp(0.9)" class="section-4__fairy" src="@img/people/fairy.png" loading="lazy" width="192" height="458" alt="фея стоїть біля котла та готує чипси Гонзо" class="section-4__fairy">
					<div class="section-4__cauldron cauldron">
						<img class="cauldron__under"  src="@img/cauldron/cauldron.png" width="490" height="613" alt="котел в якому обсмажуються чипси Гонзо">

						<img class="cauldron__snacks"  src="@img/cauldron/snack-group.png" width="554" height="488" alt="обсмажені чипси Гонзо анімовано випригують із котла">

						<img class="cauldron__snack cauldron__snack--1" src="@img/cauldron/snack-1.png" width="240" height="240" alt="обсмажені чипси Гонзо анімовано випригують із котла">
						<img class="cauldron__snack cauldron__snack--2" src="@img/cauldron/snack-2.png" width="240" height="240" alt="обсмажені чипси Гонзо анімовано випригують із котла">
						<img class="cauldron__snack cauldron__snack--3" src="@img/cauldron/snack-3.png" width="240" height="240" alt="обсмажені чипси Гонзо анімовано випригують із котла">
						<img class="cauldron__snack cauldron__snack--4" src="@img/cauldron/snack-4.png" width="240" height="240" alt="обсмажені чипси Гонзо анімовано випригують із котла">

						<img class="cauldron__over" aria-hidden="true" src="@img/cauldron/cauldron-over.png" width="490" height="613" alt="котел">
					</div>
				</div>
				<div data-speed="1.1" data-fls-watcher data-fls-watcher-threshold="0.3" class="section-4__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<h2>Казкова смачність Gonzo
								у магічній технології обсмажки без олії!</h2>
						</div>
						<div class="banner__picture"></div>
					</div>
					<div class="body-sections__cta cta-sections">
						<div class="cta-sections__txt">
							<p>Але без твоєї оцінки ми не дізнаємося таємницю казкової смачності Gonzo, рятуй, герою!</p>
						</div>
						<div class="cta-sections__btn-wr">
							<a href="test.html" data-fls-btn class="cta-sections__btn btn btn--a" aria-label="на сторінку теста">
								<span>Оцінити</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-5">
			<div class="section-5__picture">
					<div data-speed="0.5"></div>
			</div>
			<div class="section-5__container">
				<div class="section-5__box">
					<img src="@img/box/box.png" width="562" height="557" alt="сундук з коштовностями серед яких лежать пачки чипсів Гонзо">
				</div>
				<div class="section-5__shacks snacks-block"></div>
				<div class="section-5__wolf">
					<img class="ibg" src="@img/main/wolf.png" width="201" height="449" alt="Image">
				</div>
				<div data-speed="1.2" data-fls-watcher data-fls-watcher-threshold="0.3"  class="section-5__body body-sections">
					<div class="body-sections__banner banner">
						<div class="banner__text text-banner">
							<h2><span class="txt-shadow">Визначай свого казкового Gonzo-героя та вигравай</span> <span class="txt-gradien">БОКС ІЗ ПОДАРУНКАМИ</span></h2>
						</div>
						<div class="banner__picture"></div>
					</div>
					<div class="body-sections__cta cta-sections">
						<div class="cta-sections__txt">
							<ul>
								<li>
									<span class="num">1</span>
									<p>
										Проходь тест
									</p>
								</li>
								<li>
									<span class="num">2</span>
									<p>
										Переходь на конкурсний допис в <a href="#" aria-label="посилання на інстаграм">Instagram</a>
									</p>
								</li>
								<li>
									<span class="num">3</span>
									<p>
										Ділися результатом у коментарях
									</p>
								</li>
								<li>
									<span class="num">4</span>
									<p>
										Бери участь у розіграші <span>казкового боксу від Gonzo</span>
									</p>
								</li>
							</ul>
						</div>
						<div class="cta-sections__btn-wr">
							<a href="test.html" data-fls-btn class="cta-sections__btn btn btn--a" aria-label="на сторінку теста">
								<span>Пройти тест</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-6">
			<div class="section-6__picture">
				<div data-speed="0.5"></div>
			</div>
			<div class="section-6__container">
				<div class="section-6__shacks snacks-block"></div>
				<div data-speed="1.5" class="section-6__body">
					<div class="section-6__bg"><span></span></div>
					<h2 class="section-6__title text-banner">Заціни нашу чарівну маску в TikTok і дізнайся назву своєї Gonzo-казки!</h2>
					<div class="section-6__video">
						<div data-fls-videobutton class="video-youtube__body">
						  <button class="video-youtube__button" type="button" data-youtube="yf5NOyy1SXU" aria-label="кнопка відкриття відео з youtube">
						    <img class="ibg" src="@img/poster/poster.jpg" width="784" height="400" alt="poster video">
						  </button>
						</div>
					</div>
					<a href="#" data-fls-btn class="section-6__btn btn btn--a" aria-label="на сторінку інстаграм">
						<span>Хочу маску</span>
					</a>
				</div>
			</div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

	</div>
</main>