<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<div class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</div>
	</div>
</div>
<div class="shadow shadow--top"></div>
<main id="smooth-wrapper" class="page page--home">
	<div id="smooth-content">

		<section class="hero">
			<div data-speed="0.5" class="hero__picture">
				<img class="ibg" src="@img/main/hero.jpg" width="1440" height="800" alt="на фоні холмів по центру на високій горі розташований старовинний замок">
			</div>
			<div data-speed="1.5" class="hero__container">
				<div class="hero__packs packs-hero">
					<div data-speed="clamp(0.8)" class="packs-hero__picture">
						<img  class="ibg" src="@img/main/packs-hero.png" width="516" height="313" decoding="async" fetchpriority="high" alt="Три пачки Gonzo">
					</div>
				</div>
				<div class="hero__cta cta-hero">
					<div  data-speed="clamp(1.15)" class="cta-hero__txt">
						<p>Проведи експертну оцінку смачності наших снеків та вигравай чарівний бокс із подарунками!</p>
					</div>
					<a href="test.html" data-fls-btn class="cta-hero__btn btn btn--a" aria-label="на сторінку теста">
					  <span>Пройти тест</span>
					</a>
				</div>
				<div class="hero__right">
					<div class="hero__banner banner">
						<div class="banner__text text-banner">
							<p>Від казкової смачності Gonzo шаленіли всі королівства!<br>І навіть твоє!</p>
						</div>
						<div class="banner__picture">
							<picture>
								<source srcset="@img/main/banner-hero-pc.svg" media="(min-width: 30.061em)" type="image/svg+xml">
								<source srcset="@img/main/banner-hero-mb.svg" media="(max-width: 30.061em)" type="image/svg+xml">
								<img class="banner__img" data-fls-image-ignore src="@img/main/banner-hero-pc.svg" width="1440" height="800"  decoding="async" fetchpriority="high" alt="палаючий золотистий баннер на фоні якого розміщений текст">
							</picture>
						</div>
					</div>
					<div data-speed="clamp(0.5)" class="hero__wolf">
						<img  class="ibg" src="@img/main/wolf.png" width="201" height="449" alt="Image">
					</div>
				</div>
			</div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-2">
			<div class="section-2__picture">
				<img loading="lazy" class="ibg" src="@img/main/section-2.jpg" width="1440" height="800" alt="Image">
			</div>
			<div class="section-2__container"></div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-3">
			<div class="section-3__container"></div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-4">
			<div class="section-4__container"></div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-5">
			<div class="section-5__container"></div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

		<section class="section-6">
			<div class="section-6__container"></div>
			<div class="shadow shadow--topnext"></div>
			<div class="shadow shadow--bottom"></div>
		</section>

	</div>
</main>