<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<div class="logo-main">
	<div class="logo-main__wrapper">
		<div class="logo-main__picture">
			<img src="@img/main/logo.png" width="406" height="152" alt="logo Gonzo">
		</div>
	</div>
</div>
<div class="shadow shadow--top">
	<svg width="2147" height="442" viewBox="0 0 2147 442" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_f_2004_625)">
			<ellipse cx="1073.5" cy="221" rx="973.5" ry="121" fill="#090203" />
		</g>
		<defs>
			<filter id="filter0_f_2004_625" x="0" y="0" width="2147" height="442" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
				<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_2004_625" />
			</filter>
		</defs>
	</svg>
</div>
<div class="shadow shadow--bottom">
	<svg width="2147" height="442" viewBox="0 0 2147 442" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_f_2004_625)">
			<ellipse cx="1073.5" cy="221" rx="973.5" ry="121" fill="#090203" />
		</g>
		<defs>
			<filter id="filter0_f_2004_625" x="0" y="0" width="2147" height="442" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix" />
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
				<feGaussianBlur stdDeviation="50" result="effect1_foregroundBlur_2004_625" />
			</filter>
		</defs>
	</svg>
</div>

<main id="smooth-wrapper" class="page page--home">
	<div id="smooth-content">
		<section class="hero">
			<div data-speed="0.5" class="hero__picture">
				<img class="ibg" src="@img/main/hero.jpg" width="1440" height="800" alt="на фоні холмів по центру на високій горі розташований старовинний замок">
			</div>
			<div class="hero__container">
				<div class="hero__banner banner">
					<div class="banner__text text-banner">
						<p>Від казкової смачності Gonzo шаленіли всі королівства!<br>І навіть твоє!</p>
					</div>
					<picture>
						<source srcset="@img/main/banner-hero-pc.png" media="(min-width: 30.061em)" type="image/webp">
						<source srcset="@img/main/banner-hero-mb.png" media="(max-width: 30.061em)" type="image/webp">
						<img class="banner__img" data-fls-image-ignore src="@img/main/banner-hero-pc.png" width="1440" height="800" alt="image">
					</picture>
				</div>
			</div>
		</section>
		<section class="section-2">
			<div class="section-2__picture">
				<img loading="lazy" class="ibg" src="@img/main/section-2.jpg" width="1440" height="800" alt="Image">
			</div>
			<div class="section-2__container"></div>
		</section>
		<section class="section-3">
			<div class="section-3__container"></div>
		</section>
		<section class="section-4">
			<div class="section-4__container"></div>
		</section>
		<section class="section-5">
			<div class="section-5__container"></div>
		</section>
		<section class="section-6">
			<div class="section-6__container"></div>
		</section>
	</div>
</main>