 <head>
	<if condition="'[[preloader.enable]]' === 'true'">
		<include src="@components/effects/preloader/preloader.html" locals='{"once":"[[preloader.once]]"}'></include>
	</if>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"defer></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"defer></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js"defer></script>
	<include src="@components/layout/head/fonts-preload.html"></include>
	<link rel="stylesheet" href="@styles/fonts/fonts.css">
	<link rel="stylesheet" href="@styles/fonts/iconfont.css">
	<link rel="stylesheet" href="@styles/style.scss">
	<link rel="shortcut icon" href="@img/favicon.ico">
	<if condition="'[[keywords]]' !== ''">
		<meta name="keywords" content="[[keywords]]">
	</if>
	<if condition="'[[description]]' !== ''">
		<meta name="description" content="[[description]]">
	</if>
	<title>[[title]]</title>
</head>